h4 Редактирование комментария:
= simple_form_for @comment, url: admin_comment_path(@comment) do |f|
  = f.input :message, input_html: { class: "materialize-textarea validate", length: "750" }, required: true
  .input-field.col.s9
    = f.submit 'Сохранить', class: 'waves-effect waves-light btn indigo lighten-2'
    = link_to 'Назад', :back, class: 'btn indigo lighten-5'
