h3.title Комментарии

table.striped
  thead
    tr
      th Пользователь
      th Комментарий
      th Книга
      th Действия
  tbody
    - @comments.each do |comment|
      tr
        td = comment.user.username
        td = comment.message
        td = comment.book.title
        td
          = link_to edit_admin_comment_path(comment), class: 'action_link admin-links' do
            i class='material-icons' mode_edit
          = link_to admin_comment_path(comment), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'action_link admin-links' do
            i class='material-icons' delete

= paginate @comments
