h3.title Все книги

table.striped
  thead
    tr
      th Название
      th Автор
      th Издательство
      th Год издания
      th Язык
      th Качество
      th Действия
  tbody
    - @books.each do |book|
      tr
        td = book.title
        td = book.author
        td = book.publisher
        td = book.year
        td = book.language
        td = book.quality
        td
          = link_to book_path(book), class: 'action_link admin-links' do
            i class='material-icons' visibility
          = link_to edit_book_path(book), class: 'action_link admin-links' do
            i class='material-icons' mode_edit
          = link_to admin_book_path(book), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'action_link admin-links' do
            i class='material-icons' delete

= paginate @books
