h2 Повторно отправить инструкции по подтверждению аккаунта
= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, "Отправить инструкции"

.input-field.col.s9
  = render "devise/shared/links"
