h2
  | Редактировать
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username
    = f.input :password, autocomplete: "off", hint: "не заполняйте это поле, если не хотите менять пароль", required: false
    = f.input :password_confirmation, required: false
  .form-actions.input-field.col.s9
    = f.button :submit, "Сохранить"

= link_to "Back", :back
