h2 Регистрация
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs.input-field.col.s9
    = f.input :email, required: true, autofocus: true
    = f.input :username, required: true
    = f.input :password, required: true, hint: ("6 символов минимум" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  .form-actions.input-field.col.s9
    = f.button :submit, "Зарегистрироваться"

.input-field.col.s9
  = render "devise/shared/links"
