.comment
  span #{ link_to comment.user.username, '#' } - #{ I18n.l comment.created_at, format: :short }
  br
  - if policy(comment).edit?
    span.comment-message = best_in_place comment, :message,
            as: :textarea,
            inner_class: 'text required materialize-textarea validate',
            ok_button: 'Сохранить',
            display_as: :comments_form
    ' | #{link_to 'Удалить', comment_path(comment), method: :delete}

  - else
    span.comment-massage = comment.message
