= simple_form_for Comment.new do |f|
  = f.input :book_id, input_html: { value: @book.id }, as: :hidden
  = f.input :message, input_html: { class: "materialize-textarea validate", length: "750" }, required: true
  .input-field.col.s9
    = f.submit 'Отправить', id: 'js-create-comment', class: 'waves-effect waves-light btn indigo lighten-2'
