/#comment-edit.modal
/  .modal-content
/    .row
/      .col.s12
/        = simple_form_for comment do |f|
/          = f.input :message, input_html: { class: "materialize-textarea validate", length: "750", id: "comment-message-#{comment.id}" }, required: true
/          .input-field.col.s9
/            = f.submit 'Сохранить', class: 'waves-effect waves-light btn indigo lighten-2'
