= text_field_tag :id, @book.id, type: :hidden, id: 'book-id'
table.bordered.download-links
  tbody
    - @book.download_links.each do |dl|
      tr id=(dl.id)
        td = dl.url
        td = link_to 'Удалить', '#', id: 'js-remove-url', 'data-id' => dl.id
        td.download-link = dl.id

p.js-add-link = link_to 'Добавить еще одну ссылку', '#', id: 'js-add-url'
