= f.input :title
= f.input :image_url
= f.input :author
= f.input :publisher
= f.input :year, as: :string
= f.input :format
= f.input :size
= f.input :pages, as: :string
= f.input :language
= f.input :isbn
= f.input :quality
= f.input :series
= f.input :description, input_html: { class: "materialize-textarea validate", length: "750" }, required: true

.input-field.col.s9
  span.category-hint
    abbr title="required" *
    '  Категория
  = f.association :categories, collection: Category.by_name, label: false, wrapper: false, include_blank: false

