h4 Редактирование

.input-field.col.s9
  h5 Ссылки для скачивания:
  #download-links
    = render 'download_links'

.input-field.col.s9
  h5 Информация о книге:
= simple_form_for @book do |f|

  = render 'form', f: f

  .input-field.col.s9
    = f.submit 'Сохранить', class: 'waves-effect waves-light btn indigo lighten-2'
    = link_to 'Назад', :back, class: 'btn indigo lighten-5'
