- if @books.empty?
  p В данной категории нет книг.
- else
  - @books.each do |book|
    .row.book-info
      .row
        .col.s12
          h5 = link_to book.title, book_path(book), class: 'title'
          ul.book-header
            - book.categories.each do |category|
              li = link_to category.name, root_path(category: category.name), class: 'category'
      .col.s3
        = link_to book_path(book) do
          = image_tag book_cover(book), class: 'book-cover-small'
      .col.s9
        div
          = book_attrs(book, false)
          br
            p.expander = book.description
      .col.s12
        .short-info
          | Разместил: #{link_to book.user.username, '#'} | #{I18n.l book.created_at, format: :short}
          '  |  Комментариев: 15
          '  |  #{link_to 'Читать подробнее', book_path(book)}

= paginate @books
