h4 Новая книга

= simple_form_for @book do |f|

  = render 'form', f: f
  - @book.download_links.each do |download_link|
    = f.simple_fields_for "download_links_attributes[]", download_link do |dl|
      = dl.input :url, hint: 'Вы можете добавить больше ссылок на странице редактирования книги', required: true

  .input-field.col.s9
    = f.submit 'Сохранить', class: 'waves-effect waves-light btn indigo lighten-2'
