.row
  h3.title
    = @book.title

  - if policy(@book).edit?
    = link_to "Редактировать", edit_book_path(@book)

  .row
    .col.s12
      br
      - @book.categories.each do |category|
        .chip.red.lighten-3
          = link_to category.name, root_path(category: category.name), class: 'category'
  .col.s4
    = image_tag book_cover(@book), class: 'book-cover-large'
    - @book.download_links.each do |link|
      p
        = link_to_download(link)

  .col.s8
    div
      = book_attrs(@book)
      br
      = @book.description

  .comments.col.s12

    h4.title Комментарии
    - if policy(Comment).create?
      = render 'comments/form'
    .row
      .col.s12.last-comments
        - @book.comments.each do |comment|
          = render 'comments/comment', comment: comment
