<% if page.current? %>
  <li class="active indigo lighten-3">
    <%= content_tag :a, page %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to page, url, :rel => 'next', :remote => remote %>
  </li>
<% end %>
