h2 Вход
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs.input-field.col.s9
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions.input-field.col.s9
    = f.button :submit, "Войти"
.input-field.col.s9
  = render "devise/shared/links"
