.category-hint {
  color: #9e9e9e;
  font-size: 1rem;
  transition: all 0.2s ease-out 0s;
}

.book-cover-large {
  max-width: 250px;
  max-height: 500px;
}

.book-cover-small {
  max-width: 150px;
  max-height: 300px;
}

.main-row {
  margin-top: 20px;
}

label.error, span.error {
  color: #ff7162;
}

.collapsible-body p.subcategories {
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: #888dbd;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
  }
}

.container div.main-block {
  padding-left: 30px;
}

.book-header {
  margin: 0;
  li {
    float: left;
    margin: 3px;
  }
}

.book-info {
  padding: 15px;
  background-color: #edeffb;
}

.chip {
  a.category {
    color: rgba(0, 0, 0, 0.6);
  }
}

.title, .admin-links  {
  color: rgba(255, 111, 0, 0.66);
}

.download-link {
  display: none;
}

a.lighten-5 {
  color: #2E2F30;
  margin-left: 5px;
}
