.comment-message {
  margin-top: 5px;
  //display: block;
}

.comments {
  margin-top: 70px;
}

.form {
  margin-bottom: 30px;
}

.last-comments {
  margin-top: 40px;
}

.comment {
  margin-top: 25px;
}

.edit_link {
  color: #039be5;
}
