h4 Редактирование пользователя:
= simple_form_for [:admin, @user] do |f|
  = f.input :username, readonly: true
  = f.input :email, readonly: true
  = f.input :role, collection: User.roles
  .input-field.col.s9
    = f.submit 'Сохранить', class: 'waves-effect waves-light btn indigo lighten-2'
    = link_to 'Назад', :back, class: 'btn indigo lighten-5'
