h3.title Пользователи

table.striped
  thead
    tr
      th Имя
      th Email
      th Роль
      th Действия
  tbody
    - @users.each do |user|
      tr
        td = user.username
        td = user.email
        td = user.role
        td
          = link_to edit_admin_user_path(user), class: 'action_link admin-links' do
            i class='material-icons' mode_edit
          - unless current_user == user
            = link_to admin_user_path(user), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'action_link admin-links' do
              i class='material-icons' delete

= paginate @users
