/nav
/  .nav-wrapper.indigo.lighten-3
/    = link_to 'Library', root_path, class: 'brand-logo'
/    ul#nav-mobile.right.hide-on-med-and-down
/      - if user_signed_in?
/
/        /- if policy(Book).new?
/        /  li = link_to 'Добавить книгу', new_book_path
/        li Вы зашли под именем #{current_user.username}
/        li = link_to('Выйти', destroy_user_session_path, method: :delete)
/      - else
/        li = link_to('Войти', new_user_session_path)
/        li = link_to('Зарегистрироваться', new_user_registration_path)

/! Dropdown Structure
ul#admin-dropdown.dropdown-content
  li = link_to 'Добавить книгу', new_book_path
  li = link_to 'Книги', admin_books_path
  li = link_to 'Комментарии', admin_comments_path
  li = link_to 'Пользователи', admin_users_path
nav
  .nav-wrapper.indigo.lighten-3
    = link_to 'Library', root_path, class: 'brand-logo'
    ul.right.hide-on-med-and-down
      - if user_signed_in?
        li Вы зашли под именем #{current_user.username}
        li = link_to('Выйти', destroy_user_session_path, method: :delete)
        - if current_user.admin?
          li
            a.dropdown-button data-activates="admin-dropdown" href="#!"
              | Управление
              i.material-icons.right arrow_drop_down
