/ul.collapsible data-collapsible="expandable"
/  - Category.roots.each do |root|
/    li.collection-item
/      .collapsible-header.categories = root.name
/      .collapsible-body
/        p.subcategories
/          - root.children.each do |child|
/            span
/              = link_to child.name, root_path(category: child.name)
/              br
/
//javascript:
//  $('.collapsible').collapsible({
//    expandable: true
//  });

ul.collection.categories
  - Category.all.each do |category|
    li.collection-item = link_to category.name, root_path(category: category.name)
