doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Library Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render 'layouts/navbar'
    .container
      .row.main-row
        - flash.each do |name, msg|
          = content_tag :div, msg, class: name
        .col.s1
        .col.s11.main-block
          = yield
